<a href="https://colab.research.google.com/github/Bachechu/python/blob/main/24.04.19%20%EC%88%98%EC%97%85%20%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]
print(score[0])
print(score[2][3])

[29, 28, 27, 30]
30

In [7]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]
for sc in score:
  print(sc)

[29, 28, 27, 30]
[30, 20, 27, 29]
[23, 25, 29, 30]

In [23]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]
for r in range(3):#행의 반복 개수 #열의 반복 개수
  for c in range(4):
    print(score[r][c], end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [24]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]
for sc in score:
  for c in sc:
    print(c, end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [22]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]
for c1,c2,c3,c4 in score:
  print(c1, c2, c3,c4)

29 28 27 30
30 20 27 29
23 25 29 30

In [33]:
emails = {"alice": "alice@example.com", "bob":"bob@example.com","tom": "tom@example.com"}
print(emails["alice"])

for n in emails :
  print(n)

for n in emails :
  print(n, emails[n])

alice@example.com
alice
bob
tom
alice alice@example.com
bob bob@example.com
tom tom@example.com

In [43]:
scores = []  # 점수를 저장할 빈 리스트 생성
total = 0    # 총합을 저장할 변수 생성
count = 0    # 총인원수를 저장할 변수 생성

for _ in range(1, 100):  # 최대 100명의 학생 점수를 입력받음
    score = input("학생의 점수를 입력하세요 (문자 입력 시 종료): ")

    # 만약 입력이 숫자가 아니라면 입력 종료
    if not score.isdigit():
        break

    # 입력이 숫자라면 리스트에 추가하고 총합, 총인원수 업데이트
    score = int(score)
    scores.append(score)
    total += score
    count += 1

if count == 0:
    print("입력된 학생이 없습니다.")
else:
    average = total / count  # 평균 계산
    print("입력 데이터 출력", scores)
    print("모든 학생의 합계:", total)
    print("총인원수:", count)
    print("평균 점수:", average)

학생의 점수를 입력하세요 (문자 입력 시 종료): 90
학생의 점수를 입력하세요 (문자 입력 시 종료): 70
학생의 점수를 입력하세요 (문자 입력 시 종료): 30
학생의 점수를 입력하세요 (문자 입력 시 종료): =
입력 데이터 출력 [90, 70, 30]
모든 학생의 합계: 190
총인원수: 3
평균 점수: 63.333333333333336

In [53]:
scores = []  # 점수를 저장할 빈 리스트 생성
total = 0    # 총합을 저장할 변수 생성
count = 0    # 총인원수를 저장할 변수 생성

while True: #무한 반복
    score = input("학생의 점수를 입력하세요 (문자 입력 시 종료): ")

    # 만약 입력이 숫자가 아니라면 입력 종료
    if not score.isdigit():
        break

    # 입력이 숫자라면 리스트에 추가하고 총합, 총인원수 업데이트
    score = int(score)
    scores.append(score)
    total += score
    count += 1

if count == 0:
    print("입력된 학생이 없습니다.")
else:
    average = total / count  # 평균 계산
    print("입력 데이터 출력", scores)
    print("모든 학생의 합계:", total)
    print("총인원수:", count)
    print("평균 점수:", average)

학생의 점수를 입력하세요 (문자 입력 시 종료): 90
학생의 점수를 입력하세요 (문자 입력 시 종료): 70
학생의 점수를 입력하세요 (문자 입력 시 종료): 50\\30
입력 데이터 출력 [90, 70]
모든 학생의 합계: 160
총인원수: 2
평균 점수: 80.0

In [60]:
scores = []  # 점수를 저장할 빈 리스트 생성
while True:
  score = input("학생의 점수를 입력하세요 (문자 입력 시 종료): ")

    # 만약 입력이 숫자가 아니라면 입력 종료
  if score.isdigit():
    scores.append(int(score))
  else:
    break
    print("입력 데이터 출력", scores)
    print("모든 학생의 합계:", total)
    print("총인원수:", count)
    print("평균 점수:", average)

학생의 점수를 입력하세요 (문자 입력 시 종료): 90
학생의 점수를 입력하세요 (문자 입력 시 종료): 80
학생의 점수를 입력하세요 (문자 입력 시 종료): 70
학생의 점수를 입력하세요 (문자 입력 시 종료): ㄴ

In [66]:
scores = []  # 점수를 저장할 빈 리스트 생성
total = 0    # 총합을 저장할 변수 생성
count = 0    # 총인원수를 저장할 변수 생성
while True:
  score = input("학생의 점수를 입력하세요 (문자 입력 시 종료): ")

    # 만약 입력이 숫자가 아니라면 입력 종료
  if score.isdigit():
    scores.append(int(score))
    total += int(score)  # 입력된 점수를 정수로 변환하여 총합에 더함
    count += 1

  else:
    break
average = total / count  # 평균 계산
print("입력 데이터 출력", scores)
print("모든 학생의 합계:", total)
print("총인원수:", count)
print("평균 점수:", round(average,1))

학생의 점수를 입력하세요 (문자 입력 시 종료): 80
학생의 점수를 입력하세요 (문자 입력 시 종료): 40
학생의 점수를 입력하세요 (문자 입력 시 종료): 50
학생의 점수를 입력하세요 (문자 입력 시 종료): d
입력 데이터 출력 [80, 40, 50]
모든 학생의 합계: 170
총인원수: 3
평균 점수: 56.7

In [68]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [70]:
input_string = "apple#banana#cherry#orange"
output_list = input_string.split("#")
print(output_list)

['apple', 'banana', 'cherry', 'orange']

In [73]:
input_set = {'Python', 'Java', 'Ruby'}
output_string = " -> ".join(input_set)
print(output_string)

Java -> Ruby -> Python

In [76]:
# 리스트 컴프리헨션을 사용하여 1부터 10까지의 숫자 중 짝수인 원소들로 이루어진 리스트 생성
even_numbers = [num for num in range(1, 11) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [77]:
# 리스트 컴프리헨션을 사용하여 도시명 중 "S"로 시작하는 것들로 이루어진 리스트 생성
city_list = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
s_cities = [city for city in city_list if city.startswith("S")]
print(s_cities)

['Seoul', 'Shanghai']

In [79]:
input_list = ['Python', 'Java', 'JavaScript']
output_1 = list(enumerate(input_list))
print(output_1)

[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [88]:
output_2 = list(enumerate(input_list, start=1))
print(output_2)

[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [90]:
name = ["M", "N", "S", "A"]
no = [4, 1, 3, 2]

# zip() 함수를 사용하여 이름과 번호 리스트를 쌍으로 묶은 후, 세트로 변환하여 출력
result_set = set(zip(name, no))
print(result_set)

{('N', 1), ('A', 2), ('S', 3), ('M', 4)}

In [91]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# 세 개의 리스트를 각각 더한 값들을 출력
for a, b, c in zip(list1, list2, list3):
    print("Sum:", a + b + c)

Sum: 12
Sum: 15
Sum: 18

In [84]:
def get_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

scores = [88, 92, 78, 60, 75, 95]
grades = list(map(get_grade, scores))

print(grades)

['B', 'A', 'C', 'D', 'C', 'A']

In [86]:
ages = [5, 12, 17, 18, 24, 32]
result = list(filter(lambda x: x >= 18, ages))

print(result)

[18, 24, 32]

In [87]:
def extract_adult_ages(ages):
    return list(filter(lambda x: x >= 18, ages))

ages = [5, 12, 17, 18, 24, 32]
result = extract_adult_ages(ages)
print(result)

[18, 24, 32]